<!DOCTYPE html>
<head>
    <title>Draw the Wave</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <div>
        <h1>Draw the Wave</h1>
        <button id="play" onclick=playClip()>Play Clip</button>
        <p>Click and drag to draw a wave.</p>
        <p>Press 'c' to clear the canvas.</p>
    </div>
    <button id="download" onclick=sendPoints()>Download</button>
</body>